/* Reset de estilos para limpar valores padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para o cabeçalho */
.cabecalho {
  background-color: gray;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

/* Texto do o que é corrupção */
.o_que_e_corrupção{
   padding: 20%;
   text-align: left;
   margin-top: -15%;
}
.titulo1{
  text-align: center;
  font-size: 35px;
}
.texto1{
  font-size: 17px;
}
.corrupcaopng{
  width: 40%;
  top: 50%;
  left: 0%;
  transform: translate(50%, -0%);
}
/* Texto corrupcão do dia a dia */
.corrupcao_do_dia_a_dia{
  padding: 20%;
  text-align: left;
  margin-top: -420px;
}
.titulo2{
  text-align: center;
  font-size: 35px;
}
.texto2{
  font-size: 17px;
}

.PequenasCorrupcoes{
  width: 40%;
  height: 30%;
  transform: translate(40%, 0%);
}
