/* Cabeçalho */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ;
}
/* Estilos para o cabeçalho */
.cabecalho {
    background-color: rgb(128, 103, 103);
    color: white;
    padding: 20px;
    text-align:left;
}

.titulo1 {
    font-size: 20px;
    margin-bottom: 10px;

}
.texto1{
  font-size: 75%;
}
li{
  font-size: 75%;
}
